.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #f5f5f5;
  vertical-align: middle;
  border-top: solid 1px lightgrey;
}

.footer-logo{
  padding-top: 10px;
  vertical-align: middle;
  height:80px;
  margin-top: 20px;
}

.company-info-title{
  text-decoration: underline;

}

.container .company-info{
  font-size: 13px;
  font-family: "didot";
  margin-top: 20px;
  margin-left: 30px;
}
.container .text-muted{
padding-top: 10px;
  margin: 20px 0;
  vertical-align: middle;
}

.container .social-icons{
  margin: 30px 0;
}

#headerContainer{
  padding-top: 5px;
  padding-bottom: 5px;
}

#searchBox{
  width: 50%;
  padding-top: 20px;
}

.form-control-feedback{
  margin-top: 20px;
}