/* HEADER NAVBAR AND MODAL SECTION */

#headerContainer{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
  }
  
  .header-space{
    height: 100%;
    width:10%;
    background-color: white;
  }
  
  #searchBox{
    width: 80%;
    padding-top: 20px;
    display: block;
    margin: auto;
  }
  
  .form-control-feedback {
      margin-top: 20px;
      margin-right: 5px;
      z-index: 1;
  }
  
  .glyphicon-align-justify{
    margin-top: 15px;
  }
  
  
  
  #shelfBackground{
    background-color:#F4F2F2;
  }
  
  body{
    background-color: rgb(240, 240, 240);
  }
  
  
  
  .book {
    display: inline-block;
    box-shadow: 5px 5px 20px #333;
    margin: 30px;
    margin-left: 100%;
  }
  
  .book img { 
    vertical-align: middle; 
  }
  
  
  
  .bookImage{
    height: 550px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12%;
    right: 0;
    height: 100%;
    width: 80%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .book:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .coverText{
    position: absolute;
    top: 10%;
    left:10px;
    right:10px;
    color: white;
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }
  
  .coverText h4, .coverText h5{
    background-color: rgba(5, 5, 5, 0.3);
    padding: 3px;
    border: solid 1px rgba(165, 165, 165, 0.34)
  }
  
  .navigation
  {
    text-align: center;
  }
  
 
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #E8E8E8;
    vertical-align: middle;
    
  }
  
  .footer-logo{
    padding-top: 10px;
    vertical-align: middle;
    height:80px;
    margin-top: 20px;
  }
  
  .company-info-title{
    text-decoration: underline;
  
  }
  
  .company-info{
    font-size: 13px;
    font-family: "georgia";
    color:black;
    margin-top: 20px;
    margin-left: 30px;
  }
  .text-muted{
  padding-top: 10px;
    margin: 20px 0;
    vertical-align: middle;
  }
  
  .social-icons{
    margin: 30px 0;
  }
  .social-icons{
    margin-top: 30px;  
  }
  
  .social-icons i{
    margin-left: 15px !important; 
  }
  
  #copyright{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
  }
  
  #searchBox{
    width: 80%;
    padding-top: 10px;
    display: inline-block;
   
  }
  
  
  .searchBoxClass {
    margin-left: 10%; 
    margin-top: 15px;
    background-color: grey;
  }